.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.override-line-height-menu {
    line-height: 76px !important;
}

.header-wrapper {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 74px;
}

.adjust-avatar-to-the-end {
    display: flex;
    justify-content: flex-end;
}