@import 'src/scss/variables.scss';

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.override-line-height-menu {
    line-height: 76px !important;
}

.header-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after {
    border-bottom: 2px solid $button !important;
}